ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/*this is element selector e.g p-element*/
p {color: rgb(0, 0, 0);} 

/*this is class selector  */
.class {font-size:20px;} 

/*this is id selecter*/
#id-name {color: green;} 

/*this is element with specific attribute selector*/
li[value="4"]{color: blue} 

/*universal selector*/
/*
 *{text-align: center;} 
 */